body {
  font-family: Arial, Helvetica, sans-serif;
  animation: backcolor 15s infinite;
  
}

@keyframes backcolor {
  0%{background-color: white;}
  25%{background-color: white;}
  50%{background-color: grey;}
  80%{background-color: grey;}
  100%{background-color: white;}
}
